<ion-header>
  <ion-navbar class="center" color="primary">
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item padding>
    <ion-label floating>Usuario Github</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>
  <div class="center">
    <!--<button ion-button type="button" color="primary" (click)="getUser()">Obtener Usuario</button>-->
    <button ion-button type="button" color="primary" (click)="getRepos()">Obtener Repositorios</button>
  </div>
<!--<ion-card *ngIf="info">
  <img src="{{info.avatar_url}}" width="50px">
  <ion-card-content>
    <ion-card-title>
      {{info.name}}
      </ion-card-title>
    <p>
     {{info.bio}}
    </p>
  </ion-card-content>
</ion-card>-->
  <ion-list inset>
    <ion-list-header [hidden]="!loadRepo">
      Repositorios de {{username}}
    </ion-list-header>
    <button ion-item *ngFor="let repo of repositories" [navPush]="detailsPage">
        <strong>{{repo.name}}</strong>
      </button>
  </ion-list>
</ion-content>